@import "../../styles/colors.scss";

.details{
    padding: 2rem;
}

.details__title{
    align-items: center;
    display: flex;
    h1{
        margin-right: 1rem;
    }
}

.stat__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $gray-10;
    border-radius: .25rem;
    padding: 1rem;
    h6{
        color: $gray-60;
    }
    h3{
        margin: .25rem 0;
    }
}

.stat__icon{
    color: $vivid;
}

.tabs{
    nav{
        display: flex;
        margin-bottom: 1rem;
    }
}

@mixin tab{
    min-width: 9rem;
    background: none;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .25rem .25rem 0 0;
    padding: 0 .5rem;
    flex-shrink: 0;
}

.tab__active{
    @include tab;
    color: $vivid;
    border-bottom: 2px solid $vivid;
}

.tab__inactive{
    @include tab;
    color: $gray-60;
}

.tab__inactive:hover{
    background: $gray-10;
    cursor: pointer;
}

.row{
    display: flex;
    align-items: center;
    min-height: 3rem;
    border-bottom: 1px solid $gray-10;
    position: relative;
}

@mixin col{
    padding: .5rem 1rem;
}

.col__number{
    @include col;
    flex: 0 0 2rem;
}

.col__product{
    @include col;
    width: 20rem;
    min-width: 15rem;
    flex: 0 1 auto;
}

.col__start{
    @include col;
    flex: 1 1 0;
}

.col__paid{
    @include col;
    flex: 0 0 13rem;
}

.col__amount{
    @include col;
    flex: 1 1 auto;
}

.col__item{
    padding: .5rem 1rem .5rem 2rem;
    flex: 0 0 13rem;
}

.col__buttons{
    @include col;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.table__invoices{
    max-width: 30rem;
    h2{
        margin-bottom: 1rem;
    }
    col:nth-child(1), col:nth-child(2){
        width: 40%;
    }
    td{
        button{
            color: $gray-60;
        }
        button:hover{
            background: $gray-10;
        }
    }
}

.cell__product{
    padding: 0 1.5rem;
}

.actions{
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}