@import "../../styles/colors.scss";

.list_contracts{
    padding: 1rem;
    ul{
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        // space between button and list
        margin-bottom: 3rem;
    }
}

@mixin row{
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    min-height: 3rem;
    padding: 1rem;
    border-bottom: 1px solid $gray-10;
}

.contract{
    @include row;
}

.row_inner__contract{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 1rem;
    overflow: hidden;
    div{
        overflow: hidden;
        p, h3{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p{
            color: $gray-60;
        }
    }
}

.header{
    display: none;
}

.contract:hover{
    background: #fafafa;
    cursor: pointer;
}

 @mixin col{
    display: flex;
    align-items: center;
    padding: .8125rem 1rem;
    min-height: 3rem;
}

.col_quantity{
    display: none;
}

.col_status{
    display: flex;
    align-items: center;
    div:first-child{
        margin-right: .5rem;
    }
}

.sortArrow{
    margin: 0 .5rem;
    transition: transform .4s;
    color: $vivid;
    flex-shrink: 0;
}

.button_header{
    background: none;
    border: none;
}

.button_header:hover{
    background: #fafafa;
    cursor: pointer;
}

.dropdown_container{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
    p{
        margin-right: .25rem;
    }
}

.dropdown{
    position: absolute;
    min-width: 7rem;
    left: 3.4rem;
    top: 80%;
    background: white;
    padding: .5rem 0;
    border: none;
    border-radius: .25rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,.25);
    white-space: nowrap;
    z-index: 1;
    button{
        width: 100%;
        padding: 0 1rem;
        font-family: 'Lato', sans-serif;
        font-size: .875rem;
        margin: 0;
        display: flex;
        min-height: 3rem;
        align-items: center;
        background: none;
        font-family: 'Lato', sans-serif;
        text-transform: none;
        letter-spacing: 0px;
        border: none;
    }
    button:hover{
        background: $gray-10;
        cursor: pointer;
    }
}

.button_dropdown{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    border: none;
    border-bottom: 1px solid $vivid;
    color: $vivid;
    border-radius: 0;
    background: none;
}

//list into table
@media only screen and (min-width: 55rem){
    .contract{
        padding: 0;
    }
    .row_inner__contract{
        padding-right: 25%;
        flex-direction: row;
    }
    .col_name{
        @include col;
        flex: 2 0 0;
    }
    .col_starting, .col_business{
        @include col;
        flex: 1 0 0;
    }
    .col_quantity{
        @include col;
        flex: 1 0 0;
        justify-content: flex-end;
    }
    .col_status{
        position: absolute;
        right: 0;
    }  
    .header{
        @include row;
        padding: 0 25% 0 0;
    }
    .dropdown_container{
        display: none;
    }
}