@import "../../styles/colors.scss";

.contractList{
    ul{
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h5{
        padding: 1rem;
    }
}

.requiresAction{
    color: $secondary;
}

.active{
    margin-top: 1rem;
    color: $p-300;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.contract{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: .8125rem 1rem;
    h2{
        margin-bottom: .3125rem;
    }
    p{
        color: rgba(0,0,0,.6)
    }
}

.contract:hover{
    background: rgba(0,0,0,.05);
    cursor: pointer;
}