@import "../../styles/colors.scss";

.contractList{
    padding: 2rem;
    ul{
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 3rem;
    }
    h5{
        padding: 1rem;
    }
}

@mixin row{
    display: flex;
    list-style-type: none;
    
    border-bottom: 1px solid $gray-10;
}

.contract{
    @include row;
    button{
        margin-left: .5rem;
    }
}

.header{
    @include row;
}

.contract:hover{
    background: #fafafa;
    cursor: pointer;
}

 @mixin col{
    display: flex;
    align-items: center;
    padding: .8125rem 1rem;
    min-height: 3rem;
    overflow: hidden;
    
    h3{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p{
        color: $gray-60;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.col__name{
    @include col;
    flex: 2 2 0;
}

.col__starting{
    @include col;
    flex: 1 1 0;
}

.col__business{
    @include col;
    flex: 1 1 0;
}

.col__quantity{
    @include col;
    flex: 1 2 0;
    justify-content: flex-end;
}

.col__status{
    flex: 2 2 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sortArrow{
    margin: 0 .5rem;
    transition: transform .4s;
    color: $vivid;
    flex-shrink: 0;
}

.th{
    background: none;
    border: none;
}

.th:hover{
    background: #fafafa;
    cursor: pointer;
}