.contract{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: .8125rem 1rem;
    h2{
        margin-bottom: .3125rem;
    }
    p{
        color: rgba(0,0,0,.6)
    }
}

.contract:hover{
    background: rgba(0,0,0,.05);
    cursor: pointer;
}