@import "../styles/colors.scss";

.layout{
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

@mixin right{
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: .25s;
    transition-timing-function: ease-out;
    main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.right__open{
    @include right;
    padding-left: 16rem;
}

.right__closed{
    @include right;
    padding-left: 3.5rem;
}

@mixin navDrawer{
    display: flex;
    flex-direction: column;
    width: 16rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: $p-800;
    box-shadow: 4px 0px 4px rgba(0,0,0,.25);
    transition: all .25s;
    transition-timing-function: ease-out;
    z-index: 2;
    ul{
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li{
        display: flex;
        align-items: center;
        border-radius: .25rem;
        margin: .5rem;
        padding: .5rem;
        overflow: hidden;
        p{
            color: white;
            margin-left: 2rem;
        }
        *{
            flex-shrink: 0;
        }
    }
}

.navDrawer__open{
    @include navDrawer;
}

.navDrawer__closed{
    @include navDrawer;
    width: 3.5rem;
    overflow: hidden;
}

.drawer__inactive{
    background: none;
    cursor: pointer;
}

.drawer__inactive:hover{
    background: $p-700;
}

.drawer__active{
    background: $vivid;
}

.logo{
    text-align: center;
    margin: 1rem 0 2rem 0;
    img{
        max-width: 10rem;
    }
}

.bottomLinks{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topBar{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 2px rgba(0,0,0,.25);
    button{
        margin: .5rem;

    }
    button:hover{
        background: $p-800;
    }
    div{
        display: flex;
        align-items: center;
    }
    h5{
        color: white;
    }
}

.underlay{
    display: none;
}

//menu overlays content
//scrim appears
@media screen and (max-width: 47rem){
    .right__open{
        padding-left: 0;
    }
    
    .right__closed{
        padding-left: 0;
    }
    
    .navDrawer__closed{
        @include navDrawer;
        width: 16rem;
        left: -18rem;
    }
    .underlay{
        display: block;
        background: rgba(0, 0, 0, .85);
        border: none;
        border-radius: none;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
    }
}